div.box-shadow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1000px;
    height: 600px;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 3px grey;
    background-repeat: no-repeat;
    background-size: cover;
    background:rgba(0,0,0,0.4);
        /* background-color: yellow; */
    /* content:url("test.jpg"); */
    /* background-image:url('tenor.gif'); */
    }
div.box-shadow:hover {
    box-shadow: 0px 0px 6px 3px rgba(142, 69, 211);
    }
p.logo{
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: white;
    line-height: 70px;
    text-shadow: 0px 0px 500px rgb(255, 255, 255), 0 0 25px rgb(69, 69, 179), 0 0 5px rgb(255, 255, 255);
    }
input.calendar{
    width: 150px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    margin-left: 10px;
    padding-top: 10px;
    }
select.combo{
    width: 150px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    margin-left: 70px;
    /* margin: 80px; */
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 35px 5px 5px;
    background: url(http://www.stackoverflow.com/favicon.ico) */
    }
select.combo:hover {
    box-shadow: 0px 0px 6px 3px rgba(35, 173, 278, 1);
    }
p.identifier{
    font-family: fantasy;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 10px;
    margin-left: 100px;
    text-shadow: 0px 0px 500px rgb(255, 255, 255), 0 0 25px rgb(148, 148, 212), 0 0 5px rgb(255, 255, 255);
    }
input.name{
    width: 500px;
    height: 30px;
    font-size: 23px;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    }      
input.password{
    width: 430px;
    height: 30px;
    font-size: 23px;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    }
input.email{
    width: 495px;
    height: 30px;
    font-size: 23px;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    }
input.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width: 400px;
    height: 40px;
    color: rgb(35, 41, 121);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 10px;
    } 
input.button:hover {
    box-shadow: 0px 0px 6px 3px rgba(35, 173, 278, 1);
    }
input.name:hover {
    box-shadow: 0px 0px 6px 3px rgba(35, 173, 278, 1);
    }
input.password:hover {
    box-shadow: 0px 0px 6px 3px rgba(35, 173, 278, 1);
    }
input.email:hover {
    box-shadow: 0px 0px 6px 3px rgba(35, 173, 278, 1);
    }
body.body{
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
/* div.box-shadow:hover {
    box-shadow: 0px 0px 6px 3px rgba(35, 173, 278, 1);
    } */